body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding-top: 80px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 ;
}

.logo {
    height: 40px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}

.auth-buttons a {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.login-button {
    color: #ff9900;
}

.register-button {
    background-color: #ff9900;
    color: white;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.tab {
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 5px;
}

.tab.active {
    background-color: #ff9900;
    color: white;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 90%;

}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 15px;
    
}

select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}

.submit-button {
    background-color: #ff9900;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
    font-size: 16px;
    margin-top: 30px;
}

.submit-button:hover {
    background-color: #e68a00;
}