@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* Scrollbar Styles for Webkit Browsers */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body {
    font-family: "MontSerrat", sans-serif;
    background-color: #FFF2F2;
    margin: 0;
    padding-top: 80px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 10px;
}
.logo {
    width: 219px;
    height: auto;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
}

.nav-links ul li {
    position: relative;
    margin-right: 20px;
}

.nav-links a {
    color: #333;
    font-weight: bold;
}

.nav-links a i {
    color: black;
    margin-left: 10px;
    font-size: 20px;
}

.nav-links ul li a::after,
.nav-links_dropdown ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-links ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.4s;
    border-radius: 10px;
    color: black;
}

.nav-links ul li :hover {
    border-radius: 10px;
}

.nav-links_dropdown {
    display: none;

}

.nav-links ul li:hover .nav-links_dropdown {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links ul li:hover .nav-links_dropdown ul {
    display: block;
    width: 180px;
}

.nav-links ul li:hover .nav-links_dropdown ul li {
    width: auto;
    padding: 3px 3px;
    font-weight: 400;
}



.auth-buttons a {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
}

.login-button {
    color: #ff9900;
}

.register-button {
    background-color: #ff9900;
    color: white;
}

.container {
    background-color: #FFF2F2;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
    margin: 20px auto;

}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.tab {
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 5px;
}

.tab.active {
    background-color: #ff9900;
    color: white;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 90%;

}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 15px;

}

select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}

.submit-button {
    background-color: #ff9900;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 95%;
    font-size: 16px;
    margin-top: 30px;
}

.submit-button:hover {
    background-color: #e68a00;
}

.congratulations-section {
    background-color: #FFF2F2;
    border-radius: 10px;
    padding: 40px;
    text-align: center;

}

.check-icon {
    background-color: #FFA500;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}

.check-icon svg {
    width: 50px;
    height: 50px;
}

.congratulations-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.congratulations-section p {
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
}

.highlight {
    color: #6A5ACD;
    font-weight: bold;
}

.go-back-btn {
    background-color: transparent;
    border: 1px solid #FFA500;
    color: #FFA500;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}

.go-back-btn:hover {
    background-color: #FFA500;
    color: white;
}